<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycom.ssmdemo.mapper.vip.VipInfoMapper" >
    <!--
    <resultMap id="BaseResultMap" type="org.spring.web.entity.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="passWord" property="passWord" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name,age, passWord
    </sql>
-->
    <resultMap id="MaxVipCodeResultMap" type="map">
        <result column="maxvipcode" property="maxVipCode" />
    </resultMap>
    <select id="getMaxVipCode" resultMap="MaxVipCodeResultMap">
        select max(vip_code) as maxvipcode from tisuvipinfo
    </select>
    <!-- 查询会员 -->
    <select id="queryById" parameterType="map" resultType="com.mycom.ssmdemo.entity.vip.VipInfo">
        select  *  from tisuvipinfo where id = #{id}
    </select>
    <insert id="insertVip" parameterType="map" >
         insert into tisuvipinfo(name,sex,orgcode,orgname,usercode,username,vipBirthday,province,city,district,
         mobile,password,vipSource,vip_code)
           values(
                #{name},
                #{sex},
                #{orgCode},
                #{orgName},
                #{userCode},
                #{userName},
                #{vipBirthday},
                #{province},
                #{city},
                #{district},
                #{mobile},
                #{password},
                #{vipSource},
                #{vipCode}
           )
    </insert>
    <select id="queryVipByMobile" parameterType="map" resultType="com.mycom.ssmdemo.entity.vip.VipInfo">
        select name, password from tisuvipinfo
        <where>
            <if test="mobile != null and mobile != ''">
                 mobile = #{mobile}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
        limit 1
    </select>
    <select id="queryVipByVipCode" parameterType="map" resultType="com.mycom.ssmdemo.entity.vip.VipInfo">
        select name,sex,orgcode,orgname,vipBirthday,password from tisuvipinfo
        <where>
            <if test="vipCode != null and vipCode != ''">
                and vip_Code = #{vipCode}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
        limit 1
    </select>

    <select id="getAllVip"  resultType="com.mycom.ssmdemo.entity.vip.VipInfo">
        select name,sex,orgcode,orgname,vipBirthday,password from tisuvipinfo
    </select>

    <insert id="insertBatchVip" parameterType="java.util.List">
        insert into tisuvipinfo
        (
             name,
             vip_code
        )
        values
        <!-- foreach循环标签，可以把list转换为对应的sql -->
        <!-- foreach除了下面的标签，还有一个open和close，用于处理sql的语法，比如in，可以在前后加括号-->
        <!-- z需要注意的是，加符号是在整个语句块开始结束加，不是每个循环体开始结束，每个循环体要在循环内加-->
        <!-- separator是每次循环都加的分隔符-->
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.name},
                '5555'
            )
        </foreach>
    </insert>
</mapper>